GEO_SERVER_URL=https://www.ifbcy.com/geo
GEO_WORKER_TOKEN=
GEO_WORKER_ID=windows-office-01
GEO_COLLECTOR_FACTORY=your_package.collectors:create_collector
GEO_ANALYZER_FACTORY=your_package.analysis:create_analyzer

